body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

header a {
    color: #c7ecee;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 0 10px;
}

h1, h2, h3 {
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #fff;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #fff;
}
